body {
    background-color: #ffffff;
    margin: auto;
    width: 90%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color: #8268a9;
    color: #ffffff;
    text-transform: uppercase;

    h1 {
        font-size: 6vw;
    }

    li {
        list-style: none;
        margin-right: 2vw;
    }


    a {
        text-decoration: none;
        color: #ffffff;
    }

    a:hover {
        text-decoration: underline;
        color: #c4b3d6;
    }
}

.conteudo-principal {
    width: 77%;

    h2 {
        color: #8268a9;
        text-transform: uppercase;
        font-size: 2.5vw;
    }

    article {
        /* Nao teve efeito, consultar com o Tupinamba */
        overflow: auto;

        p {
            font-size: 1.5vw;
            text-align: justify;
        }
    }
}

aside {
    width: 22%;

    h2 {
        color: #8268a9;
        text-transform: uppercase;
        font-size: 2.5vw;
    }

    .msc {
        width: 75%;
    }
}

footer {
    width: 100%;
    background-color: #8268a9;
    color: #ffffff;

    h3 {
        text-transform: uppercase;
    }

    li {
        list-style: none;
    }
}

p {
    font-size: 1.5vw;
    color: #64518c;
}

@media screen and (max-width:800px) {
    header {
        .logo {
            margin: auto;
            display: block;
        }

        h1 {
            font-size: 8vw;
            display: block;
            margin: auto;
        }
    }

    .conteudo-principal {
        width: 100%;
        display: block;
        color: #64518c;

        h2 {
            font-size: 7vw;
        }
    }

    aside {
        width: 100%;

        h2 {
            font-size: 7vw;
        }
    }

    footer {
        width: 100%;

        h3 {
            font-size: 5vw;
        }

        li {
            font-size: 4vw;
        }
    }

    p {
        font-size: 4vw;
    }
}

@media screen and (min-width:800px) and (max-width:1000px) {
    header {
        .logo {
            margin: auto;
            display: block;
        }

        h1 {
            font-size: 8vw;
            display: block;
            margin: auto;
        }
    }

    .conteudo-principal {
        width: 100%;
        display: block;
        color: #64518c;

        h2 {
            font-size: 7vw;
        }
    }

    aside {
        width: 100%;

        h2 {
            font-size: 7vw;
        }
    }

    footer {
        width: 100%;

        h3 {
            font-size: 5vw;
        }

        li {
            font-size: 4vw;
        }
    }

    p {
        font-size: 4vw;
    }
}